!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Notable
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
  
    .row.top70
      .small-6.small-centered.columns
        .text-center
          %h1 Notable
          %p Write everything you want directly to the cloud
  
        = render "layouts/flash"
        = yield


    = javascript_include_tag "application"
